.truck-list-container { 
    width: 95vw;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.truck-list { 
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    padding: 0;
}