.showcaseContainer { 
 display: flex;
 flex-flow: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 height: 50vh;
 width: 100vw;
}
.truckContainer, 
.prevButtonContainer, 
.nextButtonContainer {
    display: flex; 
    height: 100%;
}

.truckContainer { 
    width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.truckDisplay { 
    display: block;
    height: 70%;
    width: 100%;
    background-color: red;
}
.truckTable { 
    display: table;
    height: 30%;
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #b9b9b98a;
    border-radius: 25px;
}
 .truckTable tr { 
     border-style: solid;
     border-bottom: #333333;
 }

.prevButtonContainer,
.nextButtonContainer {

    width: 10%;
    align-items: center;
}



#currentShowcase.previous { 
    animation-name: previous;
    animation-duration: 3s;
}

#currentShowcase.next { 
    animation-name: next;
    animation-duration: 3s;
}

.truckCardImg { 
    max-width: 100%;
    height: auto;
}

@keyframes previous { 
    from { 
        background-color: red;
    }
    to { 
        background-color: blue;
    }

}

@keyframes next { 
    from { 
        background-color: red;
    }

    to { 
        background-color: green;
    }
}


